[Unit]
Description=Telegram Bot Service
After=multi-user.target
After=syslog.target
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/MLsas/
ExecStart=/home/ubuntu/miniconda3/bin/python /home/ubuntu/MLsas/bot_polling.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
