[Unit]
Description=Telegram Bot Service
After=multi-user.target
After=syslog.target
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=vovkaperm
WorkingDirectory=/home/vovkaperm/MLsas/
ExecStart=/usr/bin/ /home/vovkaperm/MLsas/bot_webhooks.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target