[Unit]
Description=Telegram Bot GC Service
After=multi-user.target
After=syslog.target
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=kulyashovv
WorkingDirectory=/home/kulyashovv/MLsas/
ExecStart=/usr/bin/python3 /home/kulyashovv/MLsas/bot_webhooks.py
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=multi-user.target
