[Unit]
Description=Telegram Bot GC Service
After=multi-user.target
After=syslog.target
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=vovkaperm
WorkingDirectory=/home/vovkaperm/MLsas/
ExecStart=/home/vovkaperm/miniconda3/bin/python -u /home/vovkaperm/MLsas/bot_webhooks.py
StandardInput=tty-force
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
